In [1]:
import pandas as pd

In [2]:
l1 = [3, 6, -7, 2]

In [3]:
l1

[3, 6, -7, 2]

In [4]:
s1 = pd.Series(l1)

In [5]:
s1

0    3
1    6
2   -7
3    2
dtype: int64

In [6]:
l2 = [1, 2, '3', 4]

In [7]:
l2

[1, 2, '3', 4]

In [8]:
s2 = pd.Series(l2)

In [9]:
s2

0    1
1    2
2    3
3    4
dtype: object

In [13]:
type(s1[1])

numpy.int64

In [11]:
s1

0    3
1    6
2   -7
3    2
dtype: int64

In [14]:
s1 * 2

0     6
1    12
2   -14
3     4
dtype: int64

In [15]:
s1.values

array([ 3,  6, -7,  2])

In [16]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [17]:
s3 = pd.Series(l1,index=[3, 4, 1, 2])

In [18]:
s3

3    3
4    6
1   -7
2    2
dtype: int64

In [19]:
s3.index

Int64Index([3, 4, 1, 2], dtype='int64')

In [20]:
d = {'Denmark': 2, 'Norway': 1, 'Sweden':3}

In [21]:
s4 = pd.Series(d)

In [22]:
s4

Denmark    2
Norway     1
Sweden     3
dtype: int64

In [23]:
d2 = {'Denmark': 3, 'Faroe Islands': 2, 'Greenland': 1}

In [24]:
s5 = pd.Series(d2)

In [25]:
s5

Denmark          3
Faroe Islands    2
Greenland        1
dtype: int64

In [26]:
s4 + s5

Denmark          5.0
Faroe Islands    NaN
Greenland        NaN
Norway           NaN
Sweden           NaN
dtype: float64