In [1]:
import pandas as pd

In [2]:
data = {'Country': ['Denmark']*3 + ['Sweden']*3,
        'Year': [2000, 2010, 2020, 2000, 2010, 2020],
        'Population': [5.3, 5.5, 5.8, 8.8, 9.3, 10.2]}

In [5]:
df = pd.DataFrame(data, index=[1, 2, 3, 1, 2, 3])

In [6]:
df

   Country  Year  Population
1  Denmark  2000         5.3
2  Denmark  2010         5.5
3  Denmark  2020         5.8
1   Sweden  2000         8.8
2   Sweden  2010         9.3
3   Sweden  2020        10.2

In [7]:
df.loc[1]

   Country  Year  Population
1  Denmark  2000         5.3
1   Sweden  2000         8.8

In [8]:
df.iloc[1]

Country       Denmark
Year             2010
Population        5.5
Name: 2, dtype: object

In [9]:
df2 = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e', 'f'])

In [10]:
df2

   Country  Year  Population
a  Denmark  2000         5.3
b  Denmark  2010         5.5
c  Denmark  2020         5.8
d   Sweden  2000         8.8
e   Sweden  2010         9.3
f   Sweden  2020        10.2

In [11]:
df2.loc['c']

Country       Denmark
Year             2020
Population        5.8
Name: c, dtype: object

In [12]:
df2.loc['c':'e']

   Country  Year  Population
c  Denmark  2020         5.8
d   Sweden  2000         8.8
e   Sweden  2010         9.3

In [13]:
df2.loc['c':'e', 'Year':'Population']

   Year  Population
c  2020         5.8
d  2000         8.8
e  2010         9.3

In [14]:
df2.loc['c':'e',['Country', 'Population']]

   Country  Population
c  Denmark         5.8
d   Sweden         8.8
e   Sweden         9.3