In [1]:
import pandas as pd

In [2]:
data = {'Country': ['Denmark']*3 + ['Sweden']*3,
        'Year': [2000, 2010, 2020, 2000, 2010, 2020],
        'Population': [5.3, 5.5, 5.8, 8.8, 9.3, 10.2]}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

   Country  Year  Population
0  Denmark  2000         5.3
1  Denmark  2010         5.5
2  Denmark  2020         5.8
3   Sweden  2000         8.8
4   Sweden  2010         9.3
5   Sweden  2020        10.2

In [7]:
df_c = df.set_index('Country')

In [8]:
df_c

         Year  Population
Country
Denmark  2000         5.3
Denmark  2010         5.5
Denmark  2020         5.8
Sweden   2000         8.8
Sweden   2010         9.3
Sweden   2020        10.2

In [9]:
df_c.loc['Denmark']

         Year  Population
Country
Denmark  2000         5.3
Denmark  2010         5.5
Denmark  2020         5.8

In [10]:
df_c.loc['Sweden']

         Year  Population
Country
Sweden   2000         8.8
Sweden   2010         9.3
Sweden   2020        10.2

In [12]:
df_cy = df.set_index(['Country', 'Year'])

In [13]:
df_cy

              Population
Country Year
Denmark 2000         5.3
        2010         5.5
        2020         5.8
Sweden  2000         8.8
        2010         9.3
        2020        10.2

In [16]:
df_cy.loc['Denmark'].loc[2000]

Population    5.3
Name: 2000, dtype: float64

In [18]:
df_cy.xs(2000,  level=1)

         Population
Country
Denmark         5.3
Sweden          8.8