In [1]:
import pandas as pd

In [2]:
data = {'Country': ['Denmark']*3 + ['Sweden']*3,
        'Year': [2000, 2010, 2020, 2000, 2010, 2020],
        'Population': [5.3, 5.5, 5.8, 8.8, 9.3, 10.2]}

In [3]:
['Denmark']*3 + ['Sweden']*3

['Denmark', 'Denmark', 'Denmark', 'Sweden', 'Sweden', 'Sweden']

In [4]:
data

{'Country': ['Denmark', 'Denmark', 'Denmark', 'Sweden', 'Sweden', 'Sweden'],
 'Year': [2000, 2010, 2020, 2000, 2010, 2020],
 'Population': [5.3, 5.5, 5.8, 8.8, 9.3, 10.2]}

In [5]:
df = pd.DataFrame(data)

In [6]:
df

   Country  Year  Population
0  Denmark  2000         5.3
1  Denmark  2010         5.5
2  Denmark  2020         5.8
3   Sweden  2000         8.8
4   Sweden  2010         9.3
5   Sweden  2020        10.2

In [7]:
df['Population']

0     5.3
1     5.5
2     5.8
3     8.8
4     9.3
5    10.2
Name: Population, dtype: float64

In [8]:
type(df['Population'])

pandas.core.series.Series

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df.head(3)

   Country  Year  Population
0  Denmark  2000         5.3
1  Denmark  2010         5.5
2  Denmark  2020         5.8

In [11]:
df.loc[1]

Country       Denmark
Year             2010
Population        5.5
Name: 1, dtype: object

In [12]:
type(df.loc[1])

pandas.core.series.Series

In [13]:
df.iloc[3]

Country       Sweden
Year            2000
Population       8.8
Name: 3, dtype: object

In [14]:
df.iloc[1:2]

   Country  Year  Population
1  Denmark  2010         5.5

In [15]:
df.loc[1:2]

   Country  Year  Population
1  Denmark  2010         5.5
2  Denmark  2020         5.8

In [16]:
df.loc[1:2,'Year']

1    2010
2    2020
Name: Year, dtype: int64