In [1]:
import pandas as pd

In [12]:
data = pd.read_csv("stock_data.csv", index_col='Date')

In [13]:
data.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2020-01-02  86.139999  84.342003  84.900002  86.052002   47660500.0  86.052002
2020-01-03  90.800003  87.384003  88.099998  88.601997   88892500.0  88.601997
2020-01-06  90.311996  88.000000  88.094002  90.307999   50665000.0  90.307999
2020-01-07  94.325996  90.671997  92.279999  93.811996   89410500.0  93.811996
2020-01-08  99.697998  93.646004  94.739998  98.428001  155721500.0  98.428001

In [14]:
df = data[['Close', 'Volume']]

In [16]:
df.head()

                Close       Volume
Date
2020-01-02  86.052002   47660500.0
2020-01-03  88.601997   88892500.0
2020-01-06  90.307999   50665000.0
2020-01-07  93.811996   89410500.0
2020-01-08  98.428001  155721500.0

In [17]:
df.to_csv("test.csv")

In [21]:
df_read = pd.read_csv("test.csv", index_col='Date')

In [22]:
df_read.head()

                Close       Volume
Date
2020-01-02  86.052002   47660500.0
2020-01-03  88.601997   88892500.0
2020-01-06  90.307999   50665000.0
2020-01-07  93.811996   89410500.0
2020-01-08  98.428001  155721500.0