In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'a': [1, 2, 3, 4], 'b': [5, 6, 7, 8]})

In [3]:
df

   a  b
0  1  5
1  2  6
2  3  7
3  4  8

In [6]:
def my_func(x):
    return x * 2

In [7]:
df.apply(my_func)

   a   b
0  2  10
1  4  12
2  6  14
3  8  16

In [8]:
df.apply(lambda x: x + 2)

   a   b
0  3   7
1  4   8
2  5   9
3  6  10

In [9]:
df['a'].apply(lambda x: x + 2)

0    3
1    4
2    5
3    6
Name: a, dtype: int64

In [10]:
df['c'] = df['a'].apply(lambda x: x + 2)

In [11]:
df

   a  b  c
0  1  5  3
1  2  6  4
2  3  7  5
3  4  8  6

In [12]:
df['d'] = df['a'] + 2

In [13]:
df

   a  b  c  d
0  1  5  3  3
1  2  6  4  4
2  3  7  5  5
3  4  8  6  6

In [17]:
df.apply(len, axis=1)

0    4
1    4
2    4
3    4
dtype: int64

In [18]:
df.apply(lambda x: x.loc[0] + x.loc[1])

a     3
b    11
c     7
d     7
dtype: int64

In [19]:
df.apply(lambda x: x['a'] - x['b'], axis=1)

0   -4
1   -4
2   -4
3   -4
dtype: int64