# Capital Asset Pricing Model (CAPM)
- https://www.investopedia.com/terms/c/capm.asp

### CAPM

$ER_i = R_f + \beta_i(ER_m - R_f)$
* $ER_i$: Expected return from investment
* $R_f$: Risk free return
* $\beta_i$: The beta of the investment
* $(ER_m - R_f)$: Market risk premium

**Risk free return** 10 Year Treasury Note
- https://www.treasury.gov/resource-center/data-chart-center/interest-rates/pages/textview.aspx?data=yield

**Market risk premium**
- https://www.investopedia.com/terms/m/marketriskpremium.asp
- Between 1926 and 2014, the S&P 500 exhibited a 10.5% compounding annual rate of return

In [1]:
import pandas as pd
import numpy as np

In [2]:
ticker = "AAPL"
data = pd.read_csv(ticker.lower() + "-m.csv", index_col=0, parse_dates=True)
sp500 = pd.read_csv("sp500-m.csv", index_col=0, parse_dates=True)

In [3]:
col = 'Adj Close'
sp500['SP500'] = np.log(sp500[col]/sp500[col].shift())
data[ticker] = np.log(data[col]/data[col].shift())

In [4]:
df = pd.concat([sp500['SP500'], data[ticker]], axis=1)

In [5]:
covariance = df.cov()
variance = df['SP500'].var()
beta = covariance.iloc[0, 1]/variance

In [6]:
beta

1.2783253531221666

In [7]:
risk_free_return = 0.011
market_return = 0.105
expected_return = risk_free_return + beta*(market_return - risk_free_return)

In [8]:
expected_return

0.13116258319348367

If $R_f = 0$ we have $ER_i = \beta_i\times ER_m$

In [9]:
beta*market_return

0.13422416207782747

Calculate for multiple

In [10]:
tickers = ["FB", "NVDA", "AMZN", "HP", "AAPL"]

df_list = [sp500['Adj Close']]
for ticker in tickers:
    df = pd.read_csv(ticker.lower() + "-m.csv", index_col=0, parse_dates=True)
    df_list.append(df['Adj Close'])

data = pd.concat(df_list, axis=1)
data.columns = ["SP500"] + tickers

In [11]:
data = np.log(data/data.shift())

In [12]:
covariance

          SP500      AAPL
SP500  0.001929  0.002466
AAPL   0.002466  0.007561

In [13]:
cov = data.cov()

In [14]:
cov

          SP500        FB      NVDA      AMZN        HP      AAPL
SP500  0.001929  0.002178  0.002779  0.002231  0.004808  0.002466
FB     0.002178  0.005975  0.003602  0.003522  0.004169  0.003671
NVDA   0.002779  0.003602  0.015205  0.004877  0.004326  0.006043
AMZN   0.002231  0.003522  0.004877  0.006410  0.002990  0.003478
HP     0.004808  0.004169  0.004326  0.002990  0.025433  0.003067
AAPL   0.002466  0.003671  0.006043  0.003478  0.003067  0.007561

In [15]:
beta = cov.loc['SP500']/variance

In [16]:
beta

SP500    1.000000
FB       1.129370
NVDA     1.440589
AMZN     1.156593
HP       2.492531
AAPL     1.278325
Name: SP500, dtype: float64

In [17]:
risk_free_return = 0.011
market_return = 0.105
expected_return = risk_free_return + beta*(market_return - risk_free_return)

In [18]:
expected_return

SP500    0.105000
FB       0.117161
NVDA     0.146415
AMZN     0.119720
HP       0.245298
AAPL     0.131163
Name: SP500, dtype: float64