In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib notebook

In [2]:
fb = pd.read_csv("ticker-fb.csv", index_col=0, parse_dates=True)

In [3]:
fb.head()

,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2020-01-02,209.779999,209.779999,209.789993,206.270004,206.750000,12077100.0
2020-01-03,208.669998,208.669998,210.399994,206.949997,207.210007,11188400.0
2020-01-06,212.600006,212.600006,212.779999,206.520004,206.699997,17058900.0
2020-01-07,213.059998,213.059998,214.580002,211.750000,212.820007,14912400.0
2020-01-08,215.220001,215.220001,216.240005,212.610001,213.000000,13475000.0

### Rate of return

\begin{equation*}
R = \frac{V_f - V_{init}}{V_{init}} = \frac{V_f}{V_{init}} - 1
\end{equation*}
- $R$: Rate of return
- $V_{init}$: Initial value
- $V_f$: Final value

In [5]:
fb['RoR'] = fb['Close']/fb['Close'].shift() - 1

In [6]:
fb.head()

,Adj Close,Close,High,Low,Open,Volume,RoR
Date,,,,,,,
2020-01-02,209.779999,209.779999,209.789993,206.270004,206.750000,12077100.0,NaN
2020-01-03,208.669998,208.669998,210.399994,206.949997,207.210007,11188400.0,-0.005291
2020-01-06,212.600006,212.600006,212.779999,206.520004,206.699997,17058900.0,0.018834
2020-01-07,213.059998,213.059998,214.580002,211.750000,212.820007,14912400.0,0.002164
2020-01-08,215.220001,215.220001,216.240005,212.610001,213.000000,13475000.0,0.010138

In [8]:
208.669998/209.779999 - 1

-0.0052912622999869985

### %-change

\begin{equation*}
P_i = \frac{V_i}{V_{i-i}} - 1
\end{equation*}
- $P_i$: Pecentage change value
- $V_i$: Current value
- $V_{i-1}$: Previous value

In [9]:
fb['%-chg'] = fb['Close'].pct_change()

In [10]:
fb.head()

,Adj Close,Close,High,Low,Open,Volume,RoR,%-chg
Date,,,,,,,,
2020-01-02,209.779999,209.779999,209.789993,206.270004,206.750000,12077100.0,NaN,NaN
2020-01-03,208.669998,208.669998,210.399994,206.949997,207.210007,11188400.0,-0.005291,-0.005291
2020-01-06,212.600006,212.600006,212.779999,206.520004,206.699997,17058900.0,0.018834,0.018834
2020-01-07,213.059998,213.059998,214.580002,211.750000,212.820007,14912400.0,0.002164,0.002164
2020-01-08,215.220001,215.220001,216.240005,212.610001,213.000000,13475000.0,0.010138,0.010138

### Normalization

\begin{equation*}
N_i = \frac{V_i}{V_{init}}*100
\end{equation*}
- $N_i$: Normalized value
- $V_i$: Current value
- $V_{init}$: Initial value

In [11]:
fb['Norm'] = (fb['Close']/fb.iloc[0]['Close'])*100

In [12]:
fb.head()

,Adj Close,Close,High,Low,Open,Volume,RoR,%-chg,Norm
Date,,,,,,,,,
2020-01-02,209.779999,209.779999,209.789993,206.270004,206.750000,12077100.0,NaN,NaN,100.000000
2020-01-03,208.669998,208.669998,210.399994,206.949997,207.210007,11188400.0,-0.005291,-0.005291,99.470874
2020-01-06,212.600006,212.600006,212.779999,206.520004,206.699997,17058900.0,0.018834,0.018834,101.344269
2020-01-07,213.059998,213.059998,214.580002,211.750000,212.820007,14912400.0,0.002164,0.002164,101.563542
2020-01-08,215.220001,215.220001,216.240005,212.610001,213.000000,13475000.0,0.010138,0.010138,102.593194

In [14]:
100*(1 - 0.005291)*(1 + 0.018834)

101.3443349306