# Exercises

### Exercise 1
- Create a list of elements 1, 2, 3, 4, and 5.
- Sum all elements (should be 15).

In [1]:
l = [1, 2, 3, 4, 5]

In [2]:
my_sum = 0
for i in l:
    my_sum = my_sum + i # my_sum += i
print(my_sum)

15

### Exercise 2
- Create a function that returns the sum of all elements
- Call that function with the list of elements 1, 2, 3, 4, 5

In [4]:
def sum_list(l):
    my_sum = 0
    for i in l:
        my_sum += i
    return my_sum

In [6]:
l = [1, 2, 3, 4, 5]
sum_list(l)

15

### Exercise 3
- Create a list with elements 2, 3, 3, 4, 4
- Calculate the average of the list (should be 3.2)
    - Hint: Use the len-function to get the length of the list

In [7]:
l = [2, 3, 3, 4, 4]

In [8]:
sum_list(l)/len(l)

3.2

In [9]:
my_sum = 0
for i in l:
    my_sum = my_sum + i # my_sum += i
print(my_sum/len(l))

3.2

### Exercise 4
- Create a list of elements 1, 2, 3, 4, 5
- Use slicing to get sub-list of elements 2, 3, 4

In [10]:
l = [1, 2, 3, 4, 5]

In [14]:
l[1:-1], l[1:4]

([2, 3, 4], [2, 3, 4])

### Excercise 5
- Create a list of elements 1, 2, 2, 3, 3, and 3
- Use **set** and **list** functions to get a new list of all the unique numbers in the list

In [15]:
l = [1, 2, 2, 3, 3, 3]

In [17]:
list(set(l))

[1, 2, 3]

### Exercise 6
- Create a list of elements 1, 2, 3, 4, 5
- Use **map**, **list** and a **lambda** function to create a new list where each element is multiplied by 2.

In [18]:
l = [1, 2, 3, 4, 5]

In [19]:
list(map(lambda x: x*2, l))

[2, 4, 6, 8, 10]