### Yahoo Financials
- https://pypi.org/project/yahoofinancials/
- New libraries come all the time
- Yahoo API unstable - but a good source and free

### sec.gov
- https://www.sec.gov/data

In [1]:
!pip install yahoofinancials

Requirement already satisfied: yahoofinancials in /Users/admin/opt/anaconda3/lib/python3.8/site-packages (1.6)
Requirement already satisfied: pytz in /Users/admin/opt/anaconda3/lib/python3.8/site-packages (from yahoofinancials) (2020.5)
Requirement already satisfied: beautifulsoup4 in /Users/admin/opt/anaconda3/lib/python3.8/site-packages (from yahoofinancials) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in /Users/admin/opt/anaconda3/lib/python3.8/site-packages (from beautifulsoup4->yahoofinancials) (2.1)

In [2]:
from yahoofinancials import YahooFinancials

In [3]:
ticker = 'AAPL'
yf = YahooFinancials(ticker)

income_statement = yf.get_financial_stmts('annual', 'income')

In [6]:
aapl_is = income_statement['incomeStatementHistory']['AAPL']

In [7]:
import pandas as pd

In [14]:
df_list = []

for d in aapl_is:
    df_list.append(pd.DataFrame.from_dict(d, orient='index'))
    
df_is = pd.concat(df_list)

In [15]:
df_is

,researchDevelopment,effectOfAccountingCharges,incomeBeforeTax,minorityInterest,netIncome,sellingGeneralAdministrative,grossProfit,ebit,operatingIncome,otherOperatingExpenses,...,nonRecurring,otherItems,incomeTaxExpense,totalRevenue,totalOperatingExpenses,costOfRevenue,totalOtherIncomeExpenseNet,discontinuedOperations,netIncomeFromContinuingOps,netIncomeApplicableToCommonShares
2020-09-26,18752000000,None,67091000000,None,57411000000,19916000000,104956000000,66288000000,66288000000,None,...,None,None,9680000000,274515000000,208227000000,169559000000,803000000,None,57411000000,57411000000
2019-09-28,16217000000,None,65737000000,None,55256000000,18245000000,98392000000,63930000000,63930000000,None,...,None,None,10481000000,260174000000,196244000000,161782000000,1807000000,None,55256000000,55256000000
2018-09-29,14236000000,None,72903000000,None,59531000000,16705000000,101839000000,70898000000,70898000000,None,...,None,None,13372000000,265595000000,194697000000,163756000000,2005000000,None,59531000000,59531000000
2017-09-30,11581000000,None,64089000000,None,48351000000,15261000000,88186000000,61344000000,61344000000,None,...,None,None,15738000000,229234000000,167890000000,141048000000,2745000000,None,48351000000,48351000000

In [16]:
balance_statement = yf.get_financial_stmts('annual', 'balance')

In [19]:
aapl_bs = balance_statement['balanceSheetHistory']['AAPL']

In [20]:
df_list = []

for d in aapl_bs:
    df_list.append(pd.DataFrame.from_dict(d, orient='index'))
    
df_bs = pd.concat(df_list)

In [21]:
df_bs

,totalLiab,totalStockholderEquity,otherCurrentLiab,totalAssets,commonStock,otherCurrentAssets,retainedEarnings,otherLiab,treasuryStock,otherAssets,...,otherStockholderEquity,propertyPlantEquipment,totalCurrentAssets,longTermInvestments,netTangibleAssets,shortTermInvestments,netReceivables,longTermDebt,inventory,accountsPayable
2020-09-26,258549000000,65339000000,47867000000,323888000000,50779000000,11264000000,14966000000,46108000000,-406000000,33952000000,...,-406000000,45336000000,143713000000,100887000000,65339000000,52927000000,37445000000,98667000000,4061000000,42296000000
2019-09-28,248028000000,90488000000,43242000000,338516000000,45174000000,12352000000,45898000000,50503000000,-584000000,32978000000,...,-584000000,37378000000,162819000000,105341000000,90488000000,51713000000,45804000000,91807000000,4106000000,46236000000
2018-09-29,258578000000,107147000000,39293000000,365725000000,40201000000,12087000000,70400000000,48914000000,-3454000000,22283000000,...,-3454000000,41304000000,131339000000,170799000000,107147000000,40388000000,48995000000,93735000000,3956000000,55888000000
2017-09-30,241272000000,134047000000,38099000000,375319000000,35867000000,13936000000,98330000000,43251000000,-150000000,18177000000,...,-150000000,33783000000,128645000000,194714000000,134047000000,53892000000,35673000000,97207000000,4855000000,44242000000

In [22]:
cash_flow = yf.get_financial_stmts('annual', 'cash')

In [24]:
aapl_cf = cash_flow['cashflowStatementHistory']['AAPL']

In [26]:
df_list = []

for d in aapl_cf:
    df_list.append(pd.DataFrame.from_dict(d, orient='index'))
    
df_cf = pd.concat(df_list)

In [27]:
df_cf

,investments,changeToLiabilities,totalCashflowsFromInvestingActivities,netBorrowings,totalCashFromFinancingActivities,changeToOperatingActivities,issuanceOfStock,netIncome,changeInCash,repurchaseOfStock,totalCashFromOperatingActivities,depreciation,otherCashflowsFromInvestingActivities,dividendsPaid,changeToInventory,changeToAccountReceivables,otherCashflowsFromFinancingActivities,changeToNetincome,capitalExpenditures
2020-09-26,5335000000,-1981000000,-4289000000,2499000000,-86820000000,881000000,880000000,57411000000,-10435000000,-75992000000,80674000000,11056000000,-791000000,-14081000000,-127000000,6917000000,-126000000,6517000000,-7309000000
2019-09-28,58093000000,-2548000000,45896000000,-7819000000,-90976000000,-896000000,781000000,55256000000,24311000000,-69714000000,69391000000,12547000000,-1078000000,-14119000000,-289000000,245000000,-105000000,5076000000,-10495000000
2018-09-29,30845000000,9172000000,16066000000,432000000,-87876000000,30016000000,669000000,59531000000,5624000000,-75265000000,77434000000,10903000000,-745000000,-13712000000,828000000,-5322000000,-105000000,-27694000000,-13313000000
2017-09-30,-33542000000,8373000000,-46446000000,29014000000,-17974000000,-8480000000,555000000,48351000000,-195000000,-34774000000,64225000000,10157000000,-124000000,-12769000000,-2723000000,-2093000000,-105000000,10640000000,-12451000000