# Web scraping
- The legality of web scraping varies across the world.
- In general, web scraping may be against the terms of use of some websites, but the enforceability of these terms is unclear.

### Be ethical
- Not for commercial use
- Only private use

In [1]:
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/Wikipedia:Fundraising_statistics"

tables = pd.read_html(url)

In [3]:
type(tables)

list

In [4]:
len(tables)

2

In [8]:
fundraising = tables[0]

In [9]:
fundraising.head()

        Year Source        Revenue      Expenses    Asset rise   Total assets
0  2018/2019    PDF  $ 120,067,269  $ 91,414,420  $ 28,653,256  $ 165,641,425
1  2017/2018    PDF  $ 104,505,783  $ 81,442,265  $ 21,619,373  $ 134,949,570
2  2016/2017    PDF   $ 91,242,418  $ 69,136,758  $ 21,547,402  $ 113,330,197
3  2015/2016    PDF   $ 81,862,724  $ 65,947,465  $ 13,962,497   $ 91,782,795
4  2014/2015    PDF   $ 75,797,223  $ 52,596,782  $ 24,345,277   $ 77,820,298

In [10]:
type(fundraising)

pandas.core.frame.DataFrame

In [11]:
fundraising.dtypes

Year            object
Source          object
Revenue         object
Expenses        object
Asset rise      object
Total assets    object
dtype: object

In [12]:
fundraising['Rev'] = fundraising['Revenue'].str[2:]

In [13]:
fundraising.head()

,Year,Source,Revenue,Expenses,Asset rise,Total assets,Rev
0,2018/2019,PDF,"$ 120,067,269","$ 91,414,420","$ 28,653,256","$ 165,641,425","120,067,269"
1,2017/2018,PDF,"$ 104,505,783","$ 81,442,265","$ 21,619,373","$ 134,949,570","104,505,783"
2,2016/2017,PDF,"$ 91,242,418","$ 69,136,758","$ 21,547,402","$ 113,330,197","91,242,418"
3,2015/2016,PDF,"$ 81,862,724","$ 65,947,465","$ 13,962,497","$ 91,782,795","81,862,724"
4,2014/2015,PDF,"$ 75,797,223","$ 52,596,782","$ 24,345,277","$ 77,820,298","75,797,223"

In [14]:
fundraising['Rev'] = fundraising['Rev'].str.replace(',', '')

In [15]:
fundraising.head()

,Year,Source,Revenue,Expenses,Asset rise,Total assets,Rev
0,2018/2019,PDF,"$ 120,067,269","$ 91,414,420","$ 28,653,256","$ 165,641,425",120067269
1,2017/2018,PDF,"$ 104,505,783","$ 81,442,265","$ 21,619,373","$ 134,949,570",104505783
2,2016/2017,PDF,"$ 91,242,418","$ 69,136,758","$ 21,547,402","$ 113,330,197",91242418
3,2015/2016,PDF,"$ 81,862,724","$ 65,947,465","$ 13,962,497","$ 91,782,795",81862724
4,2014/2015,PDF,"$ 75,797,223","$ 52,596,782","$ 24,345,277","$ 77,820,298",75797223

In [16]:
fundraising.dtypes

Year            object
Source          object
Revenue         object
Expenses        object
Asset rise      object
Total assets    object
Rev             object
dtype: object

In [17]:
fundraising['Rev'] = pd.to_numeric(fundraising['Rev'])

In [18]:
fundraising.head()

,Year,Source,Revenue,Expenses,Asset rise,Total assets,Rev
0,2018/2019,PDF,"$ 120,067,269","$ 91,414,420","$ 28,653,256","$ 165,641,425",120067269
1,2017/2018,PDF,"$ 104,505,783","$ 81,442,265","$ 21,619,373","$ 134,949,570",104505783
2,2016/2017,PDF,"$ 91,242,418","$ 69,136,758","$ 21,547,402","$ 113,330,197",91242418
3,2015/2016,PDF,"$ 81,862,724","$ 65,947,465","$ 13,962,497","$ 91,782,795",81862724
4,2014/2015,PDF,"$ 75,797,223","$ 52,596,782","$ 24,345,277","$ 77,820,298",75797223

In [19]:
fundraising.dtypes

Year            object
Source          object
Revenue         object
Expenses        object
Asset rise      object
Total assets    object
Rev              int64
dtype: object

In [20]:
fundraising['Exp'] = fundraising['Expenses'].str[2:]
fundraising['Exp'] = fundraising['Exp'].str.replace(',', '')

In [21]:
fundraising.head()

,Year,Source,Revenue,Expenses,Asset rise,Total assets,Rev,Exp
0,2018/2019,PDF,"$ 120,067,269","$ 91,414,420","$ 28,653,256","$ 165,641,425",120067269,91414420
1,2017/2018,PDF,"$ 104,505,783","$ 81,442,265","$ 21,619,373","$ 134,949,570",104505783,81442265
2,2016/2017,PDF,"$ 91,242,418","$ 69,136,758","$ 21,547,402","$ 113,330,197",91242418,69136758
3,2015/2016,PDF,"$ 81,862,724","$ 65,947,465","$ 13,962,497","$ 91,782,795",81862724,65947465
4,2014/2015,PDF,"$ 75,797,223","$ 52,596,782","$ 24,345,277","$ 77,820,298",75797223,52596782

In [22]:
fundraising.loc[0, 'Exp'] = 'spam'

In [23]:
fundraising.head()

,Year,Source,Revenue,Expenses,Asset rise,Total assets,Rev,Exp
0,2018/2019,PDF,"$ 120,067,269","$ 91,414,420","$ 28,653,256","$ 165,641,425",120067269,spam
1,2017/2018,PDF,"$ 104,505,783","$ 81,442,265","$ 21,619,373","$ 134,949,570",104505783,81442265
2,2016/2017,PDF,"$ 91,242,418","$ 69,136,758","$ 21,547,402","$ 113,330,197",91242418,69136758
3,2015/2016,PDF,"$ 81,862,724","$ 65,947,465","$ 13,962,497","$ 91,782,795",81862724,65947465
4,2014/2015,PDF,"$ 75,797,223","$ 52,596,782","$ 24,345,277","$ 77,820,298",75797223,52596782

In [25]:
fundraising['Exp'] = pd.to_numeric(fundraising['Exp'], errors='coerce')

In [26]:
fundraising.head()

,Year,Source,Revenue,Expenses,Asset rise,Total assets,Rev,Exp
0,2018/2019,PDF,"$ 120,067,269","$ 91,414,420","$ 28,653,256","$ 165,641,425",120067269,NaN
1,2017/2018,PDF,"$ 104,505,783","$ 81,442,265","$ 21,619,373","$ 134,949,570",104505783,81442265.0
2,2016/2017,PDF,"$ 91,242,418","$ 69,136,758","$ 21,547,402","$ 113,330,197",91242418,69136758.0
3,2015/2016,PDF,"$ 81,862,724","$ 65,947,465","$ 13,962,497","$ 91,782,795",81862724,65947465.0
4,2014/2015,PDF,"$ 75,797,223","$ 52,596,782","$ 24,345,277","$ 77,820,298",75797223,52596782.0

In [27]:
fundraising.dtypes

Year             object
Source           object
Revenue          object
Expenses         object
Asset rise       object
Total assets     object
Rev               int64
Exp             float64
dtype: object